<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    
    <add name="Joyel.Properties.Settings.joyel_testingConnectionString"
      connectionString="server=179.43.126.9;user id=joyel_test;password=Inmobiliaria19;database=joyel_testing; SslMode = none"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>