<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.String" connectionString="server=179.43.126.9;user id=joyel_test;password=Inmobiliaria19;database=joyel_testing"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>